<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
  </head>
  <body>
    <h2>InfoBook - Reset Password</h2>
    <br>
    {{ if .Error }}
    <div>{{ .Error }}</div>
    {{ else }}
    <form action="/reset" method="post">
      <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_mail">
      </div>
      <div>
        <label for="pass">New Password:</label>
        <input type="password" id="pass" name="user_password">
      </div>
      <div>
        <label for="repass">Repeat New Password:</label>
        <input type="password" id="repass" name="user_password_repeate">
      </div>
      <div class="button">
        <button type="submit">Reset</button>
      </div>
      <input name="code" value="{{ .Code }}" style="display:none">
    </form>
    {{ end }}
  </body>
</html>
