<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
  </head>
  <body>
    <h2>InfoBook - Reset Password</h2>
    <br>
    {{ if .Error }}
    <div>{{ .Error }}</div>
    {{ else }}
    <h3>Password reset.</h3>
    <br>
    <a href="/">
      <button type="submit">Login Now</button>
    </a>
    {{ end }}
  </body>
</html>
